body {
  background-image: url("../img/background.gif");
  background-size: cover;
  font-family: cursive;
}

.fine-print {
  font-size: 8px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin: 25px;
}

td, th {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #ff3b29;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

tfoot tr td {
  background-color: #45ed50;
}

.order-row .well{
  height: 275px;
}
.col-xs-4 {
  padding-bottom: 15px;
}

#orders {
  margin-bottom: 50px;
}

h1 {
  text-align: center;
  background: -moz-linear-gradient(0deg, #00ff00 0%, #FFFFFF 32%, #FFFFFF 69%, #FF0000 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #00ff00), color-stop(32%, #FFFFFF), color-stop(69%, #FFFFFF), color-stop(100%, #FF0000)); /* safari4+,chrome */

}

h3 {
  text-align: center;
}

#orders {
  display: none;
}

#new-order {
  background: -moz-linear-gradient(0deg, #00ff00 0%, #FFFFFF 32%, #FFFFFF 69%, #FF0000 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #00ff00), color-stop(32%, #FFFFFF), color-stop(69%, #FFFFFF), color-stop(100%, #FF0000)); /* safari4+,chrome */
}

.well {
  /* background: transparent; */
  background-color: rgba(255, 255, 255, 0.75);
  border-style: dotted;
}

#table-total {
  font-weight: bold;
}

#thanks {
  display: none;
}

img.remove {
  width: 20px;
  margin-left: 75%;
}

#jp {
  float: right;
  width: 200px;
  border: solid red 3px;
  border-radius: 100px;
}

.well#orders {
  background: -moz-linear-gradient(0deg, #00ff00 0%, #FFFFFF 32%, #FFFFFF 69%, #FF0000 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #00ff00), color-stop(32%, #FFFFFF), color-stop(69%, #FFFFFF), color-stop(100%, #FF0000)); /* safari4+,chrome */
}

.well#thanks {
  background: -moz-linear-gradient(0deg, #00ff00 0%, #FFFFFF 32%, #FFFFFF 69%, #FF0000 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #00ff00), color-stop(32%, #FFFFFF), color-stop(69%, #FFFFFF), color-stop(100%, #FF0000)); /* safari4+,chrome */
}

#total {
  font-size: 20px;
  font-weight: bold;
}
